.button {
  display: inline-block;
  align-items: center;
  width: auto;
  padding: 13px 47px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background: $accent-blue;
  text-decoration: none;
  border-radius: 25px;
  box-sizing: border-box;

  @media(max-width: $screen-xs) {
    font-size: 13px;
    line-height: 19px;
    padding: 11px 33px;
  }
}