.button {
  display: inline-block;
  padding: 15px 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: $accent-blue;
  text-decoration: none;
  border-radius: 25px;
  box-sizing: border-box;
}