@import "./variables";

.container {
  max-width: 1000px;
  margin: 0 auto;

  &--white {
    background: #fff;
  }

  &--nopadd {
    padding: 0;
  }

  @media(max-width: $screen-lg) {
    padding: 0 40px;
    max-width: 1040px;
  }

  @media(max-width: $screen-sm) {
    padding: 0 30px;
  }

  @media(max-width: $screen-xs) {
    padding: 0 20px;
  }
}

.wrap {
  display: flex;
  margin: 0 70px;
 

  &--gray {
    background: $gray-light;
  }

  @media(max-width: $screen-md){
    display: block;
    margin: 0;
  }

  @media(min-width: 1920px) {
    max-width: 1920px;
    margin: 0 auto;
  }
}