h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 48px;

  @media(max-width: $screen-md) {
    font-size: 30px;
    line-height: 38px;
  }
}

h2 {
  font-size: 30px;
  line-height: 38px;

  @media(max-width: $screen-md) {
    font-size: 26px;
    line-height: 34px;
  }
}

h3 {
  font-size: 26px;
  line-height: 34px;

  @media(max-width: $screen-md) {
    font-size: 24px;
    line-height: 32px;
  }
}

a {
  color: $accent-yellow;
}

ul, li, a, p, h1, h2, h3, h4, h5, h6, label {
  margin: 0;
  padding: 0;
}