

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

//colors
$accent-yellow: #ff5b3e;
$accent-blue: #3983e9;
$gray: #2e3033;
$gray-light: #e8ecf2;
$gray-light1: #ebeff5;

//fonts
$default-font: 'museo', sans-serif;
$medium-font: 'museo-medium', sans-serif;
$italic-font: 'museo-medium-italic', sans-serif;

$gotham-font: 'gothampro-medium', sans-serif;
$helvetica-font: 'helvetica-medium', sans-serif;