$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

//colors
$accent-yellow: #ff5b3e;
$accent-blue: #3983e9;
$blue-2: #3b84e7;
$gray: #2e3033;
$gray-2: #7f8387;
$gray-3: #c4c4c4;
$gray-light: #ebeff5;
$gray-light1: #ebeff5;
$white: #fff;

//fonts
$default-font: "museo", sans-serif;
$medium-font: "museo-medium", sans-serif;
$italic-font: "museo-medium-italic", sans-serif;

$gotham-font: "gothampro-medium", sans-serif;
$helvetica-font: "helvetica-medium", sans-serif;
