.u-text-muted {
  color: $gray-2;
}

.u-text-small {
  font-size: 11px;
}
.u-va-top {
  vertical-align: top;
}

.u-ta-center {
  text-align: center;
}

.u-text-dark {
  color: $gray;
}

.u-td-none {
  text-decoration: none;
}


$marginMap: (
  0: 0,
  1: 10px,
  2: 20px,
  3: 30px,
  4: 40px,
  5: 50px,
  6: 60px,
);

@each $name, $value in $marginMap {
  .u-mb-#{$name} {
    margin-bottom: $value;
  }

  .u-mt-#{$name} {
    margin-top: $value;
  }

  .u-pt-#{$name} {
    padding-top: $value;
  }

  .u-pb-#{$name} {
    padding-bottom: $value;
  }
  
}