.about-us {
  background: #ebeff5;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    margin-bottom: 35px;
  }

  p {
    margin-bottom: 25px;
  }

  &__left {
    width: 60%;
    padding-right: 50px;

    @media(max-width: $screen-md) {
      width: 100%;
      padding-right: 0;
    }
  }

  &__right {
    width: 40%;

    @media(max-width: $screen-md) {
      width: 100%;
    }
  }
}

.licenze-items {
  position: relative;
  
  .licenze__item {
    display: block;
    padding: 5px;

    @media(max-width: $screen-xs) {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 36px;
      height: 36px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      
      span {
        display: none;
      }
    }

    .owl-prev {
      background-image: url('/img/Slider_left.svg') !important;
      left: -18px;
    }

    .owl-next {
      background-image: url('/img/Slider_right.svg') !important;
      right: -18px;
    }
  }
  
}