.p-cloud-solutions {
  .page-head {
    background-size: 25%;
    background-position-y: center;
  }

  .container {
    width: 100%;
  }

  .page-content {
    padding-bottom: 80px;

    &--super {
      padding-top: 0;
    }

    .page-content__left {
      padding: 0;
      background: transparent;
    }

    .page-content__right {
      padding-left: 60px;

      h2 {
        margin-top: 40px;
        margin-bottom: 35px;
      }
    }
  }
}

.cloud-advantages {
  padding: 80px 0;

  h2 {
    margin-bottom: 60px;
  }

  .cloud-advantages-content {
    display: flex;
    justify-content: space-between;

    .cloud-advantages-list {
      padding-left: 25px;
      width: 280px;
      margin: 0;
      list-style-image: url("../img/icons/checked-blue.svg");

      .cloud-advantages-item {
        padding-left: 10px;
        margin-bottom: 35px;
        font-family: $medium-font;
      }

      @media (max-width: $screen-md) {
        width: 50%;
        padding-right: 20px;
      }

      @media (max-width: $screen-sm) {
        width: 100%;
        padding-right: 0;
      }
    }

    @media (max-width: $screen-md) {
      flex-wrap: wrap;
    }
  }

  @media (max-width: $screen-xs) {
    padding: 50px 0;
  }
}
