@import "./shared/variables";

.footer {
  display: block;
  flex-wrap: wrap;

  &__bottom {
    display: flex;
    font-size: 13px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;

    &-left {
      width: 50%;
      display: flex;
      justify-content: space-between;

      @media(max-width: $screen-md) {
        flex-direction: column;
      }

      @media(max-width: $screen-xs) {
        width: 100%;
        margin-bottom: 25px;
      }
    }

    &-right {
      width: 50%;
      text-align: right;

      @media(max-width: $screen-xs) {
        width: 100%;
        text-align: left;
      }
    }

    @media(max-width: $screen-md) {
      padding: 25px 40px;
    }
    @media(max-width: $screen-sm) {
      padding: 25px 30px;
    }
    @media(max-width: $screen-xs) {
      padding: 25px 20px;
    }

    @media(max-width: $screen-xs) {
      flex-direction: column;
    }
  }

  .privacy-policy {
    text-decoration: none;
    font-weight: bold;

    @media(max-width: $screen-md) {
      margin-top: 10px;
    }
  }

  .web-studio {
    color: #666;

    a {
      text-decoration: none;
      color: #252627;
      font-weight: bold;

      span {
        color: $accent-yellow;
        font-size: 16px;
      }
    }
  }

  &-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__left {
    width: 35%;
    background: $gray;
    padding: 55px;
    box-sizing: border-box;

    @media(max-width: $screen-lg) {
      width: 100%;
    }

    @media(max-width: $screen-md) {
      padding: 50px 40px;
    }

    @media(max-width: $screen-sm) {
      padding: 50px 30px;
    }

    @media(max-width: $screen-xs) {
      padding: 45px 20px;
    }
  }

  &__right {
    width: 65%;
    background: $accent-blue;
    padding: 55px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    @media(max-width: $screen-lg) {
      width: 100%;
    }

    @media(max-width: $screen-md) {
      padding: 50px 40px;
    }

    @media(max-width: $screen-sm) {
      padding: 50px 30px;
    }

    @media(max-width: $screen-xs) {
      padding: 45px 20px;
    }
  }

  &__logo {
    width: 162px;
    margin-bottom: 50px;

    @media(max-width: $screen-xs) {
      margin-bottom: 35px;
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 50%;
      margin-bottom: 25px;

      &--full {
        width: 100%;
        margin-top: 20px;
      }

      a {
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 7px;

        @media(max-width: $screen-xs) {
          font-size: 13px;
        }
      }

      p {
        color: #979a9c;
        font-size: 13px;

        &.adress {
          font-size: 15px;
          color: #fff;
          margin-bottom: 10px;
        }
      }
    }
  }

  &__menu {
    list-style-type: none;
    width: 60%;

    >li {
      margin-bottom: 20px;

      >a {
        font-family: $medium-font;
        text-decoration: none;
        color: #fff;
      }

      >ul {
        list-style-type: none;
        padding-top: 20px;
        >li {
          margin-bottom: 18px;

          a {
            color: #fff;
            text-decoration: none;
            font-weight: normal;
          }
        }
      }
    }

    &:first-child {
      width: 40%;
    }

    @media(max-width: $screen-xs) {
      width: 100%;

      &:first-child {
        width: 100%;
      }
    }
  }

}