@import "./shared/libs";
@import "./shared/containers";
@import "./shared/variables";
@import "./shared/utilities";
@import "./shared/fonts";
@import "./shared/typography";
@import "./shared/buttons";


::placeholder {
	color: #666;
}

::selection {
	background-color: $accent-yellow;
	color: #fff;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	width: 100%;
}

body {
	font-size: 15px;
	min-width: 320px;
	position: relative;
	line-height: 1.4;
	font-family: $default-font;
	overflow-x: hidden;
	color: #252627;
	-webkit-font-smoothing: antialiased;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

* {
	box-sizing: border-box;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.read-more {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	color: #2e3033;

	&--reverse {
		&::after {
			display: none !important;
		}

		&::before {
			content: '';
			display: inline-block;
			position: relative;
			padding-left: 10px;
			left: -10px;
			vertical-align: middle;
			width: 13px;
			height: 14px;
			background-image: url("/img/right-arrow.svg");
			background-size: contain;
			background-repeat: no-repeat;
			transition: .3s ease;
			transform: scale(-1, 1);
		}
	}

	&::after {
		content: '';
		display: inline-block;
		position: relative;
		right: -10px;
		vertical-align: middle;
		width: 13px;
		height: 14px;
		background-image: url("/img/right-arrow.svg");
		background-size: contain;
		background-repeat: no-repeat;
		transition: .3s ease;
	}

	&:hover {
		&::after {
			right: -20px;
		}
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.hidden {
	display: none;
}

.border-buttons {
	@media(max-width: $screen-md) {
		display: none;
	}
}

.language-buttons {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 178px;
	width: 70px;

	a {
		margin-bottom: 10px;
		display: flex;
		width: 30px;
		height: 30px;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		padding: 5px;
		font-weight: bold;
		color: $gray;
		border-radius: 50%;
		transition: .3s ease;

		&:hover {
			background: $accent-blue;
			color: #fff;
		}

		&.active {
			background: $accent-blue;
			color: #fff;
		}
	}
}

.ip-button {
	position: fixed;
	bottom: 100px;
	left: 0;
	display: flex;
	justify-content: center;
	width: 70px;

	a {
		display: block;
		width: 35px;
		height: 35px;
		background: url('/img/icons/ip-button.svg');
	}
}

.border-contacts {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: fixed;
	right: 0;
	bottom: 100px;
	width: 70px;

	a {
		display: block;
		width: 35px;
		height: 35px;
		margin-bottom: 20px;

		&.border-phone {
			background-image: url('/img/icons/phone-button.svg');
		}

		&.border-mail {
			background-image: url('/img/icons/mail-button.svg');
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.search-button {
	position: fixed;
	top: 178px;
	right: 0;
	display: flex;
	justify-content: center;
	width: 70px;

	a {
		display: block;
		width: 35px;
		height: 35px;
		background: url('/img/icons/search-button.svg');
	}
}

.logo-intext {
	font-weight: bold;

	i {
		font-style: normal;
		color: $accent-yellow;
	}
}


.flex {
	display: flex;
}


@import "./header";
@import "./main-section";
@import "./counter-section";
@import "./advantages";
@import "./speed_test";
@import "./video-section";
@import "./useful-articles";
@import "./partners";
@import "./footer";
@import "./page";
@import "./about-us";
@import "./link-block";
@import "./our-advantages";
@import "./team";
@import "./price";

@import "./cloud-solutions";
@import "./cloud-calculator";
@import "./dop-uslugi";

@import "./tile";

@import "./articles";
