@import "./shared/variables";

.main {
  display: block !important;
  background-color: $gray-light;
  padding-top: 115px;
  padding-bottom: 90px;
  background-image: url("/img/main-bg.png");
  background-repeat: no-repeat;
  background-position: right top;

  &-content {
    max-width: 500px;
    margin-bottom: 110px;

    @media(max-width: $screen-md) {
      margin-bottom: 60px;
      max-width: 400px;
    }

    @media(max-width: $screen-sm) {
      margin-bottom: 60px;
      max-width: 350px;
    }

    @media(max-width: $screen-xs) {
      max-width: 100%;
    }
  }

  &-description {
    display: inline-block;
    color: #3b4752;
    margin-bottom: 40px;
  }

  &-services {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    flex: 1;
    

    .owl-dots {
      text-align: center;
      margin-top: 35px;

      .owl-dot {
        width: 9px;
        height: 9px;
        background: #b6c6d9;;
        border-radius: 50%;
        margin: 0 10px;

        &.active {
          background: $accent-yellow;
        }
      }
    }
  }

  @media(max-width: $screen-lg) {
    background-position: 120% 10%;
    background-size: 50%;
  }

  @media(max-width: $screen-md) {
    background-position: 120% 10%;
    background-size: 40%;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @media(max-width: $screen-xs) {
    background-image: none;
  }
}

h1 {
  margin-bottom: 20px;

  span {
    font-weight: bold;

    i {
      font-style: normal;
      color: $accent-yellow;
    }
  }
}



.main__service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #2e3033;
  color: #fff;
  padding: 35px 35px 45px 35px;
  margin: 10px 10px;
  height: 100%;

  &-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      .main__service {
        margin-left: 0;
      }
    }

    &:nth-child(2) {
      .main__service {
        margin-right: 0;
      }
    }
    &:nth-child(3) {
      .main__service {
        margin-left: 0;
      }
    }
    &:nth-child(4) {
      .main__service {
        margin-right: 0;
      }
    }

    @media(max-width: $screen-md) {
      width: 100%;
    }

  }

  &-head {
    position: relative;
    margin-bottom: 30px;

    @media(max-width: $screen-md) {
      margin-bottom: 25px;
    }
  }

  &-type {
    font-size: 12px;
    font-family: $medium-font;
    color: $accent-yellow;
    margin-bottom: 20px;

    @media(max-width: $screen-xs) {
      margin-bottom: 15px;
    }
  }

  &-name {
    font-size: 24px;
  }

  &-ico {
    width: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    img {
      width: 100%;
    }

    @media(max-width: $screen-xs) {
      position: static;
      transform: none;
      margin-bottom: 15px;
    }
  }

  &-description {
    font-size: 14px;
    margin-bottom: 35px;

    @media(max-width: $screen-xs) {
      margin-bottom: 20px;
    }
  }

  &-advantages {
    margin-bottom: 100px;
    
    @media(max-width: $screen-xs) {
      .list {
        display: none;
        padding-top: 20px;
      }
      .show-advantages {
        display: block;
        cursor: pointer;
      }
    }

    @media(max-width: $screen-md) {
      margin-bottom: 55px;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;

    @media(max-width: $screen-xs) {
      display: block;
    }
  }

  &-price {
    font-size: 16px;
    font-family: $medium-font;

    span {
      font-size: 24px;
    }

    span.yellow {
      color: $accent-yellow;
      font-size: 24px;
    }

    &-nds {
      font-size: 11px;
      color: #7f8387;
    }

    @media(max-width: $screen-xs) {
      margin-bottom: 25px;
    }
  }

  @media(max-width: $screen-md) {
    margin: 0;
  }

  @media(max-width: $screen-xs) {
    padding: 25px;
  }
}

.list {
  list-style-type: none;

  li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;

    &:before {
      content: '';
      position: absolute;
      width: 25px;
      height: 15px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("/img/icons/checked.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &--bold {
    li {
      font-size: 15px;
      line-height: 21px;
      font-family: $medium-font;

      &::before {
        background-image: url("/img/icons/checked-bold.svg") !important;
        width: 20px;
        height: 20px;
        top: 0;
        transform: none;
      }
    }
  }

  &--plus {
    li {
      padding-left: 50px;
      font-size: 16px;

      &::before {
        background-image: url("/img/icons/plus.svg") !important;
        width: 20px;
        height: 20px;
      }
    }
  }

}

.show-advantages {
  display: none;
}
