.modal {
  background: #fff;
  
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  &--padding {
    padding-right: 50px;
    padding-left: 50px;
  }
  
  &-head {
    margin-bottom: 50px;

    p {
      font-size: 26px;
      line-height: 34px;
      margin-bottom: 10px;
    }

    span {
      font-size: 15px;
    }
  }

  .mfp-close {
    right: 40px;
    top: 50px;
    font-size: 50px;
    color: $accent-yellow;
    opacity: 1;
  }

  form {

    label {
      font-size: 12px;
      color: #666;
      display: block;
      margin-bottom: 5px;
    }

    input,
    textarea {
      padding: 15px 20px;
      
      border: none;
      background: $gray-light;
      font-size: 15px;
      resize: none;
    }
  }

  .checkbox {
    display: none;
  }
  .checkbox-custom {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid $accent-yellow;
  }
 
  .checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #fff;
    border: 6px solid $accent-yellow;
  }

  .label {
    width: calc(100% - 20px);
    padding-left: 15px;
  }

  .flex-label {
    display: flex ;
  }

  .leader-dots-list {
    list-style-type: none;
    overflow-x: hidden;
    max-width: 100%;

    li {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: relative;
      margin-bottom: 12px;

      &::after {
        position: absolute;
        left: 0;
        z-index: 0;
        color: #88898b;
        content:
        "........................................"
        "........................................"
        "........................................"
        "........................................";
        white-space: nowrap;
      }

      p {
        background: #fff;
        z-index: 1;
        position: relative;
        color: #88898b;
        font-size: 13px;
      }

      span {
        position: relative;
        z-index: 2;
        padding-left: 3px;
        background: #fff;
        font-size: 14px;
        font-family: $medium-font;
      }
    }
  }
}


.modal-2 {
  .modal__form {
    display: flex;
    border-top: 1px solid $gray-light1;
    border-bottom: 1px solid $gray-light1;
    margin-bottom: 35px;

    &-right {
      width: 40%;

      &--top {
        padding-left: 50px;
        padding-top: 40px;
        padding-bottom: 70px;
        border-bottom: 1px solid $gray-light1;
      }

      &--bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 35px;
        padding-top: 35px;
        padding-bottom: 35px;

        .summ-price {
          font-size: 24px;

          .yellow {
            color: $accent-yellow;
            font-family: $medium-font;
          }

          &-nds {
            font-size: 11px;
            color: #7f8387;
          }
        }
      }

      &-head {
        margin-bottom: 40px;

        p {
          font-size: 21px;
          margin-bottom: 15px;
        }

        span {
          font-size: 13px;
        }
      }
    }


    &-left {
      padding-top: 50px;
      width: 60%;
      padding-right: 50px;
      border-right: 1px solid $gray-light1;

    }

    &-input {
      margin-bottom: 10px;

      input {
        width: 70%;
      }
      textarea {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }

  .button {
    display: block;
    margin: 0 auto;
  }
}


.callback-modal {
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-input {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        width: calc(100% / 3 - 10px);
        margin-right: 10px;
      }

      &:nth-child(3) {
        margin-right: 0 !important;
      }

      &:nth-child(4) {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 35px;
      }

      input, textarea {
        width: 100%;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;

      .agree {
        width: 70%;
      }
      .form-button {
        width: 30%;
        text-align: right;

        .button {
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  &.search-modal {
    padding: 120px 150px 200px ;

    .callback-modal__form {
      justify-content: flex-start;

      .callback-modal__form-input {
        width: 60%;
        margin-right: 60px;
        
        .search-modal-control {
          background: transparent;
          border-bottom: 1px solid $gray-2;
        }
      }
    }
  }
}