.breadcrumbs {
  font-size: 13px;
  margin-bottom: 70px;
  font-family: $medium-font;

  p {
    display: inline-block;
    padding-right: 10px;
    position: relative;
    z-index: 1;

    &::after {
      content: "\2022";
      position: absolute;
      right: -4px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }

  a {
    text-decoration: none;
    padding-left: 10px;
    z-index: 1;
  }
}

.page-head {
  background: #e2e7ef;
  padding-top: 45px;
  padding-bottom: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% top;

  .container {
    width: 100%;
  }

  h1 {
    margin-bottom: 0;
  }

  @media (max-width: $screen-md) {
    padding-bottom: 130px;
  }

  @media (max-width: $screen-xs) {
    background-image: none !important;
  }
}

.align-item-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.page-content {
  background: $gray-light1;
  padding-top: 80px;
  padding-bottom: 60px;

  .container {
    width: 100%;

    &--flex {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__bottom {
    margin-top: 50px;
  }

  &__super {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 45px;

    &-head {
      margin-bottom: 10px;
    }

    &-left {
      width: calc(100% - 250px);

      @media (max-width: $screen-md) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &-right {
      width: 250px;

      @media (max-width: $screen-md) {
        width: 100%;
      }
    }

    @media (max-width: $screen-md) {
      flex-wrap: wrap;
    }
  }

  &__left {
    width: 40%;
    padding-top: 30px;
    padding-bottom: 30px;

    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }

    @media (max-width: $screen-md) {
      width: 100%;
    }
  }

  &__right {
    width: 60%;
    padding-left: 60px;

    p {
      margin-bottom: 15px;
    }

    @media (max-width: $screen-md) {
      width: 100%;
      padding-left: 0;
    }
  }
}

.page-contacts {
  background: $gray-light1;
  padding-top: 120px;
  padding-bottom: 100px;

  .container {
    width: 100%;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
    background: $gray;

    color: #fff;

    @media (max-width: $screen-md) {
      margin-right: 0;
    }
  }

  &__left {
    padding: 80px 60px;
    width: 50%;

    &-head {
      font-size: 30px;
      margin-bottom: 23px;

      @media (max-width: $screen-xs) {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 15px;
      }
    }

    &-text {
      font-size: 16px;
      margin-bottom: 30px;

      a {
        font-family: $medium-font;
        text-decoration: none;
      }
    }

    @media (max-width: $screen-md) {
      width: 100%;
    }

    @media (max-width: $screen-xs) {
      padding: 30px;
    }
  }

  &__right {
    position: relative;
    width: 50%;
    top: -60px;
    right: -60px;

    &-photo {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .your-master {
      background: $accent-blue;
      padding: 15px 25px;
      position: absolute;
      z-index: 12;
      bottom: 0;
      right: 0;

      span {
        font-size: 12px;
      }

      &__name {
        font-size: 20px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #54616f;
      opacity: 0.19;
      z-index: 2;
      left: 0;
      top: 0;
    }

    @media (max-width: $screen-md) {
      width: 100%;
      height: 300px;
      order: -1;
      top: 0px;
      right: 0;
    }
  }
}
