.price-section {
  background: $gray-light1;
  padding-bottom: 80px;

  h2 {
    margin-bottom: 35px;
  }

  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 36px;
      height: 36px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      span {
        display: none;
      }
    }

    .owl-prev {
      background-image: url("/img/Slider_left.svg") !important;
      left: -18px;
    }

    .owl-next {
      background-image: url("/img/Slider_right.svg") !important;
      right: -18px;
    }
  }
}

.prices-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--slider1 {
    display: block;
    .price__item {
      width: auto;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &--slider {
    .price__item {
      margin: 20px;
      width: auto;
      max-width: 685px;
      padding: 40px;

      &-head {
        margin-bottom: 35px;
      }

      &-list {
        margin-bottom: 60px;
      }

      &-char {
        table {
          tr {
            td {
              width: 50% !important;

              &:first-child {
                width: 50% !important;
              }
            }
          }
        }
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: no-wrap;

        &-price {
          width: auto;
          display: block;
          text-align: left;
          margin-bottom: 0;

          p {
            width: 100%;
            text-align: left;
          }

          span {
            font-size: 24px;
          }

          span.yellow {
            font-size: 24px;
          }
        }

        &-button {
          width: auto;
        }
      }
    }
  }
}

.price__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background: #fff;
  width: calc(100% / 3 - 10px);
  margin: 5px;

  &-head {
    font-size: 24px;
    margin-bottom: 25px;
  }

  &-char {
    margin-bottom: 35px;

    table {
      tr {
        td {
          font-size: 14px;
          font-family: $medium-font;
          vertical-align: top;
          width: 30%;

          &.full-td {
            width: 100% !important;
          }

          &:first-child {
            font-family: $default-font;
            font-size: 13px;
            padding-right: 10px;
            color: #88898b;
            width: 70%;
          }
        }
      }
    }
  }

  &-list {
    margin-bottom: 25px;
    font-size: 14px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    &-price {
      font-size: 16px;
      font-family: $medium-font;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      p {
        display: block;
        width: 60%;
        text-align: right;
      }
      span {
        font-size: 18px;
      }

      span.yellow {
        color: $accent-yellow;
        font-size: 18px;
      }

      &-nds {
        order: -1;
        width: 40% !important;
        font-size: 11px;
        color: #7f8387;
        text-align: left !important;
      }

      @media (max-width: $screen-xs) {
        margin-bottom: 25px;
      }
    }

    &-button {
      width: 100%;
      text-align: right;
      .button {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .list {
    li {
      &::before {
        width: 18px;
        height: 12px;
      }
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(3) {
    margin-right: 0;
  }
}
