.tile {
  &-section {
    padding-top: 75px;
    background: $gray-light;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;

    .owl-dots {
      text-align: center;
      margin-top: 35px;

      .owl-dot {
        width: 9px;
        height: 9px;
        background: #b6c6d9;
        border-radius: 50%;
        margin: 0 10px;

        &.active {
          background: $accent-yellow;
        }
      }

      @media (max-width: $screen-xs) {
        padding-bottom: 35px;
      }
    }
  }

  &__item {
    position: relative;
    width: calc(50% - 20px);
    max-width: 480px;
    margin: 10px;
    background: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-head {
      margin-bottom: 35px;
      width: calc(100% - 60px);

      @media (max-width: $screen-xs) {
        margin-bottom: 20px;
        width: 100%;
      }
    }

    &-icon {
      position: absolute;
      right: 40px;
      top: 40px;
      width: 60px;

      img {
        width: 100%;
      }

      @media (max-width: $screen-xs) {
        display: none;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      &-price {
        font-size: 16px;
        font-family: $medium-font;

        span {
          font-size: 24px;
        }

        span.yellow {
          color: $accent-yellow;
          font-size: 24px;
        }

        &-nds {
          font-size: 11px;
          color: #7f8387;
        }

        @media (max-width: $screen-xs) {
          margin-bottom: 25px;
          width: 100%;
        }
      }

      &-button {
        text-align: right;

        .button {
          padding-right: 30px;
          padding-left: 30px;
        }

        @media (max-width: $screen-xs) {
          text-align: left;
        }
      }
    }

    &-text {
      width: 100%;
      margin-bottom: 35px;

      @media (max-width: $screen-xs) {
        margin-bottom: 20px;
      }
    }

    &--text {
      background: transparent;
      padding: 10px;
      justify-content: flex-start;
    }

    @media (max-width: $screen-sm) {
      width: 100%;
      margin: 0 auto 20px auto;
    }
  }

  &-items--slider {
    .tile__item {
      @media (max-width: $screen-md) {
        margin: 0 auto;
        width: 100%;
      }

      @media (max-width: $screen-xs) {
        margin-bottom: 0;
      }
    }
  }
}
