.tile {
  &-section {
    padding-top: 75px;
    background: $gray-light1;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;

    .owl-dots {
      text-align: center;
      margin-top: 35px;

      .owl-dot {
        width: 9px;
        height: 9px;
        background: #b6c6d9;
        border-radius: 50%;
        margin: 0 10px;

        &.active {
          background: $accent-yellow;
        }
      }
    }
  }

  &__item {
    position: relative;
    width: calc(50% - 20px);
    margin: 10px;
    background: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-head {
      margin-bottom: 35px;
      width: calc(100% - 60px);

      @media (max-width: $screen-xs) {
        margin-bottom: 20px;
        width: 100%;
      }
    }

    &-icon {
      position: absolute;
      right: 40px;
      top: 40px;
      width: 60px;

      img {
        width: 100%;
      }

      @media (max-width: $screen-xs) {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-price {
        font-size: 16px;
        font-family: $medium-font;

        span {
          font-size: 24px;
        }

        span.yellow {
          color: $accent-yellow;
          font-size: 24px;
        }

        &-nds {
          font-size: 11px;
          color: #7f8387;
        }

        @media (max-width: $screen-xs) {
          margin-bottom: 25px;
        }
      }

      &-button {
        text-align: right;
        width: 100%;

        .button {
          padding-right: 30px;
          padding-left: 30px;
        }

        @media (max-width: $screen-xs) {
          text-align: left;
        }
      }
    }

    &-text {
      width: 100%;
      margin-bottom: 35px;

      @media (max-width: $screen-xs) {
        margin-bottom: 20px;
      }
    }

    &--text {
      background: transparent;
      padding: 10px;
      justify-content: flex-start;
    }

    @media (max-width: $screen-md) {
      margin: 0 auto;
      max-width: 480px;
      width: 100%;
    }
  }
}
